{% extends "base.html" %}

{% block title %} Find SFP {% endblock %}
<!-- <i class="bi bi-check-circle"></i>
<i class="bi bi-x-circle"></i> -->


{% block content %}
<table class="table">
    <thead>
    <tr>
        
        <th style="text-align: center;">Device</th>
        <th style="text-align: center;">Interface</th>
        <th style="text-align: center;">SFP</th>
        <th style="text-align: center;">Link Flapped</th>
        <th style="text-align: center;">Status</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            {% for sfp in listsfp %}
            <tr>
                <td>{{ sfp.device }}</td>
                <td>{{ sfp.interface }}</td>
                <td>{{ sfp.sfp }}</td>
                <td>{{ sfp.link }}</td>
                <td>{{ sfp.status }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}
